.name {
    float: left;
    color: #4aaaa5;
    padding: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 25px;
}

.navbar {
    float: right;
    padding: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.header {
    clear: both;
}

.information {
    clear: both;
    padding: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

.headers {
    color: #4aaaa5;
}

section {
    padding: 90px;
}

p {
    width: 60%;
    float: right;
    color: #777777;
    font-size: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
}

body {
    background-color: black;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: yellow;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


@media screen and (max-width: 768px) {
.header {
    width: 50%;
}

.Pictures {
    width: 30%;

}

.nav {
    position: relative;
    display: inline;
    margin: 0;
    padding-right: .15em;
}

}